html, body, #cesium {
  width: 100%;
  height: 100%;
  margin: 0;
}
#panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  background: #111;
  color: white;
  padding: 10px;
}
